.imgHeader{    
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    z-index: 1;
}

.navBar{
    background: white;
    width: 75rem;
    height: 7rem;
    z-index: 6;
    position: absolute;
    margin-left: 7rem;

}

.titleHeader{
    z-index: 6;
    position: absolute;
    left: 8.21%;
    right: 5.3%;
    top: 39.15%;
    bottom: 39.02%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 52px;

    /* or 116% */
    letter-spacing: -0.015em;

    /* 1 */
    color: #2871B7;
}

.pHeader{
    z-index: 6;
    position: absolute;
    left: 8.21%;
    right: 51.85%;
    top: 61.62%;
    bottom: 27.73%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;

    /* or 148% */
    letter-spacing: -0.015em;

    /* noir */
    color: #292929;
}

.buttonHeader{ 
    z-index: 6;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position: relative;
    background: #CD5A83;
    border-radius: 5px;
    margin-top: 20rem;
    margin-left: 7rem;
    width: 20%;
    color: white;
    width: 12%;
}